html {
   scroll-behavior: smooth;
   scroll-padding-top: 5rem; /* Roughly the height of the navbar */
}

body {
   background-color: black;
}

.section-container {
   margin-top: 2rem;
   margin-bottom: 4rem;
   max-width: 90rem;
}