.sectionContainer {
   margin-top: 2rem;
   margin-bottom: 4rem;
   max-width: 90rem;
}

.textContainer {
   display: flex;
   flex-direction: column;
   margin-inline: 2rem;

   @media (max-width: 48em) {
      margin-inline: 1rem;
   }
}

.skill {
   padding-block: 0.5rem;
   padding-inline: 1rem;
   border: 1px solid var(--mantine-primary-color-filled);
   border-radius: var(--mantine-radius-default);
   opacity: 0;

   @media (max-width: 48em) {
      padding-inline: 0.5rem;
   }

   @media (prefers-reduced-motion: reduce) {
      opacity: 1;
   }
}

.skillAppear {
   @media (prefers-reduced-motion: no-preference) {
      animation: fadeIn 0.75s ease-in 0s;
      animation-fill-mode: forwards;
   }
}

@keyframes fadeIn {
   0% {
      opacity: 0;
   }
   50% {
      transform: scale(1.1);
   }
   100% {
      opacity: 1;
      transform: scale(1);
   }
}

.skillIcon {
   border-radius: var(--mantine-radius-default);
}

.skillText {
   text-align: center;
}

.skillGroup {
   margin-block: 0.75rem;
}
